<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">
      <img src="../../assets/images/foods/logo.png" alt="Foood Mine Logo" class="logo">
    </a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/cart-page">Cart</a>
        </li>
      </ul>
    </nav>

   <div class="tst">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation" data-bs-offset="10">
      <ul class="navbar-nav position-fixed">
        <li class="nav-item dropdown position-fixed">
          <a class="nav-link dropdown-toggle  position-fixed"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Événement Spécial
          </a>
          <ul class="dropdown-menu dropdown-menu-dark position-fixed" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Evenement/birthday">Birthday</a></li>
            <li><a class="dropdown-item" routerLink="/Evenement/Res">Réservation table</a></li>
            <li><a class="dropdown-item" routerLink="/Evenement/Surprise">Surprise</a></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-toggler-icon"></span>
    </button>
   </div>
    
    <div class="collapse navbar-collapse position-fixed" id="navbarNavDarkDropdown">
     
    </div>
    
  </div>
</header>
